# how to make a list

In [5]:
w = [1,2,3,4,5,6]
x = [100,105,169,191,172,283]
y = [99,23,4,53,22,5,66]

for j in y:
    print(j)

99
23
4
53
22
5
66

In [2]:
car = {
    'car1' : ['red color','1000 cc engine','lamborghini'] ,
    'car2' : ['stinky','likes to drive fast','brown color'],
    'car3' : ['yellow','made in 1978','clean and shiny']
}

# what if i run for loop on car

In [8]:
for i in car:
    for j in car[i]:
        print(i, j)
    print('-----'*100.1)

car1 red color
car1 1000 cc engine
car1 lamborghini

TypeError: can't multiply sequence by non-int of type 'float'

# i made data to print the physics scores of all class

In [19]:
students = [
    {"name": "Alice", "physics": 85, "math": 90},
    {"name": "Bob", "physics": 78, "math": 82},
    {"name": "Charlie", "physics": 92, "math": 88},
    {"name": "David", "physics": 76, "math": 95},
    {"name": "Eva", "physics": 89, "math": 84},
    {"name": "Frank", "physics": 80, "math": 86},
    {"name": "Grace", "physics": 88, "math": 92},
    {"name": "Hannah", "physics": 91, "math": 87},
    {"name": "Ivy", "physics": 79, "math": 83},
    {"name": "Jack", "physics": 84, "math": 91},
    {"name": "Kate", "physics": 77, "math": 89},
    {"name": "Leo", "physics": 90, "math": 85},
    {"name": "Mia", "physics": 86, "math": 1},
    {"name": "Noah", "physics": 99, "math": 100},
    {"name": "Olivia", "physics": 93, "math": 88},
    {"name": "Paul", "physics": 75, "math": 82},
    {"name": "Quinn", "physics": 89, "math": 90},
    {"name": "Rachel", "physics": 87, "math": 93},
    {"name": "Sam", "physics": 81, "math": 84},
    {"name": "Tina", "physics": 78, "math": 88},
    {"name": "Uma", "physics": 92, "math": 87},
    {"name": "Victor", "physics": 85, "math": 89},
    {"name": "Wendy", "physics": 88, "math": 91},
    {"name": "Xander", "physics": 90, "math": 86},
    {"name": "Yara", "physics": 83, "math": 85},
    {"name": "Zane", "physics": 82, "math": 90}
]

In [20]:
# task run a for loop and prince me the name of student and their phycs scores

In [21]:
# use for loop and then write print(each['name'],each['physics'])

In [24]:
for each in students:
    print(each['name'],'obtained',each['physics'],'in physics,',each['math'],'in maths')

Alice obtained 85 in physics, 90 in maths
Bob obtained 78 in physics, 82 in maths
Charlie obtained 92 in physics, 88 in maths
David obtained 76 in physics, 95 in maths
Eva obtained 89 in physics, 84 in maths
Frank obtained 80 in physics, 86 in maths
Grace obtained 88 in physics, 92 in maths
Hannah obtained 91 in physics, 87 in maths
Ivy obtained 79 in physics, 83 in maths
Jack obtained 84 in physics, 91 in maths
Kate obtained 77 in physics, 89 in maths
Leo obtained 90 in physics, 85 in maths
Mia obtained 86 in physics, 1 in maths
Noah obtained 99 in physics, 100 in maths
Olivia obtained 93 in physics, 88 in maths
Paul obtained 75 in physics, 82 in maths
Quinn obtained 89 in physics, 90 in maths
Rachel obtained 87 in physics, 93 in maths
Sam obtained 81 in physics, 84 in maths
Tina obtained 78 in physics, 88 in maths
Uma obtained 92 in physics, 87 in maths
Victor obtained 85 in physics, 89 in maths
Wendy obtained 88 in physics, 91 in maths
Xander obtained 90 in physics, 86 in maths
Yara obtained 83 in physics, 85 in maths
Zane obtained 82 in physics, 90 in maths